<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geotag APP</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
<body class="bg-gray-100 min-h-screen">
    <nav class="bg-indigo-600 texh-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="bg-indigo-600 text-lg font-bold">Agritech Dashboard</a>
            <div class="bg-indigo-600 text-white py-4">
                <a href="/upload/" class="mx-2 hover:underline">Upload Image</a>
                <a href="/list/" class="mx-2 hover:underline">Image List</a>
                <a href="/geotagged-data/" class="mx-2 hover:underline">Geotagged Data</a>
                <a href="/map/" class="mx-2 hover:underline">View Map</a>
            </div>
        </div>
    </nav>
    <div class="bg-gray-100 min-h-screen flex items-center justify-cente">
        <h1 class="text-2xl font-bold mb-4 text-gray-700">Agritech Project Page</h1>
    </div>
</body>
</html>